<div class="row text-center align-content-center top-buffer">
  <div class="col">
    <div class="jumbotron bg-transparent">
      <%= image_tag("arcadetitle.png", class: "title-image") %>
    </div>
    <%= render 'shared/search_form' %><br>
    <%= link_to "or see them all!", search_path, class: "text-white" %>
  </div>
</div>
<div class="row">
  <a href="#" data-background-color="#009900" data-text-color="#FFFFFF">Green</a>
  <%= link_to "Red", '#',
    data: {
    :background_color => "#990000",
    :text_color => "#FFFFFF" } %>
