<div class="row text-center align-content-center top-buffer">
  <div class="col">
    <div class="jumbotron bg-transparent">
      <%= image_tag("arcadetitle.png", class: "title-image") %>
    </div>
    <%= render 'shared/search_form' %><br>
    <%= "or " %>
    <%= link_to " see them all!", search_path, class: "text-white" %>
  </div>
</div>
