<div class="row h-100 text-center">
  <div class="col-12 my-auto ">
    <%= render 'shared/search_form' %>
  </div>
</div>
<div class="row text-center align-items-center">
  <div class="col">
    <%= "or " %><%= link_to " See them all!", search_path %>
  </div>
</div>
