<table>
<% @equipment.each do |e| %>
  <tr>
    <td><%= e.name %></td>
    <td><%= link_to "Edit", edit_equipment_path(e) %></td>
    <td><%= link_to "Delete", e, method: :delete,
                     data: { confirm: "Delete?" } %></td>
  </tr>

<% end %>
</table>
<br>

<%= link_to "New Equipment", new_equipment_path %>
