<p id="notice"><%= notice %></p>

<%= link_to "Change Email/Password", edit_user_registration_path, class: "btn btn-primary" %> |
<%= link_to 'Back to Search', '/search', class: "btn btn-primary" %>

<br><br>
<h3>Saved Recipes</h3>
<div class="row col-12 p-0 mx-auto">
  <% @user_profile.favorites.each do |f| %>
    <%= render 'shared/recipe_link', rec: f %>
  <% end %>
</div>
