<table>
  <tr>
    <th>Name</th>
    <th>Recipe Count</th>
  </tr>
<% @types[0].times do |n| %>
  <tr>
    <td><%= link_to @types[1][n].name, @types[1][n] %></td>
    <td><%= @types[2][n] %></td>
  </tr>
<% end %>
