@mixin box-sizing {
        -moz-box-sizing:    border-box;
        -webkit-box-sizing: border-box;
        box-sizing:         bordier-box;
}

.debug_dump {
        clear: both;
        float: left;
        width: 100%;
        margin-top: 45px;
        margin-bottom: 4px;
        @include box-sizing;
}

html {
  height: 90%
}

body {
  height: 100%;
}

.row {
  overflow-y: auto;
}

td {
  padding-right: 15px;
}

.jumbotron {
  font-family: Garamond;
  font-size: 4rem;
}

.font-sm {
  font-size: 0.9em;
}
