@mixin box-sizing {
        -moz-box-sizing:    border-box;
        -webkit-box-sizing: border-box;
        box-sizing:         bordier-box;
}

.debug_dump {
        clear: both;
        float: left;
        width: 100%;
        margin-top: 45px;
        margin-bottom: 4px;
        @include box-sizing;
}

html {
  height: 100vh;
  width: 100vh;
}

a:hover {
  text-decoration: none !important;
  background-color: transparent !important;
  color: rgb(131,135,150) !important;
}

body {
  background-color: rgb(184,192,240) !important;
  width: 100vh;
  height: 100vh;
}

.btn-primary {
  background-color: rgb(110,115,120) !important;
  color: rgb(229,229,229) !important;
  border: none !important;
}

.card-bg-color {
  background-color: rgb(131,135,150) !important;
}

.card {
  border: none !important;
}

.gradient {
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(10,10,139,1) 8%, rgba(0,212,255,1) 100%) no-repeat; 
  height: 100%;
  width: 100%;
}

.top-buffer {
  margin-top: 75px;
}

.row {
  overflow-y: auto;
}

td {
  padding-right: 15px;
}

.jumbotron {
  font-family: Garamond;
  font-size: 3.1rem;
}

.font-sm {
  font-size: 0.9em;
}

.font-md {
  font-size: 1.0em;
}

.font-lg {
  font-size: 1.2em;
}

.title-image {
  width: 100%;
  height: auto;
}

.progress-table {
  height: 1px;
  border: 1px solid black;
  border-radius: 1px;
}

.card-text-color {
  color: rgb(236, 236, 236);
}

.favorite-button > input[type="submit"] {
  background:url("favorite_up.png");
  height: 67px;
  width: 48px;
  border: none;
}

.favorite-button > input[type="submit"]:hover {
  background:url("favorite_down.png");
}

.unfavorite-button > input[type="submit"] {
  background:url("notfavorite_up.png");
  height: 67px;
  width: 48px;
  border: none;
}

.unfavorite-button > input[type="submit"]:hover {
  background:url("notfavorite_down.png");
}

a.view-button {
  background:url("view_recipe_up.png");
  height: 67px;
  width: 170px;
  border: none;
}
a.btn.view-button:hover {
  background:url("view_recipe_down.png");
  height: 67px;
  width: 170px;
  border: none;
}

.text-right {
  text-align: right;
}
