<header class="navbar navbar-fixed-top navbar-inverse bg-light">
  <div class="container">
    <nav>
      <ul class="nav">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Browse", browse_path %></li>
      </ul>
    </nav>
  </div>
</header>
